---
import Base from "../../layouts/Base.astro"
import Header from "../../components/Header.astro"
import Hero from "../../components/Hero.astro"
import About from "../../components/About.astro"
import Menu from "../../components/Menu.astro"
import Media from "../../components/Media.astro"
import Footer from "../../components/Footer.astro"
import "../../styles/fonts.css"
import "../../styles/padding-margin.css"
---
<Base language="en" title="Fiorentino" main={false}>
    <Header language="en"></Header>
    <main>
        <Hero language="en"></Hero>
        <About language="en"></About>
        <Menu language="en"></Menu>
        <Media language="en"></Media>
        <Footer language="en"></Footer>
    </main>
</Base>

<script src="../../scripts/navigation.js"></script>
