---
import Base from "../layouts/Base.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
import Gallery from "../components/Gallery.astro"
import Footer from "../components/Footer.astro"
import "../styles/fonts.css"
import "../styles/padding-margin.css"
---
<Base language="lt" title="Fiorentino" main={true}>
    <Header language="lt"></Header>
    <main>
        <Hero language="lt"></Hero>
        <About language="lt"></About>
        <Menu language="lt"></Menu>
        <Gallery language="lt"></Gallery>
        <Footer language="lt"></Footer>
    </main>
</Base>

<script src="../scripts/gallery.js"></script>
<script src="../scripts/navigation.js"></script>

