---
import Base from "../../layouts/Base.astro"
import Header from "../../components/Header.astro"
import Hero from "../../components/Hero.astro"
import About from "../../components/About.astro"
import Media from "../../components/Media.astro"
import Footer from "../../components/Footer.astro"
import "../../styles/fonts.css"
import "../../styles/padding-margin.css"
---
<Base language="it" title="Fiorentino" main={false}>
    <Header language="it"></Header>
    <main>
        <Hero language="it"></Hero>
        <About language="it"></About>
        <Media language="it"></Media>
        <Footer language="it"></Footer>
    </main>
</Base>

<script src="../../scripts/gallery.js"></script>
<script src="../../scripts/navigation.js"></script>
