---
interface Props {
    language: string;
}

const { language } = Astro.props;

const renderContent = () => {
    if (language === 'lt') {
        const content = [
            '„Fiorentino“ gimė iš gilios aistros, kuri mane sieja su mano gimtąja žeme.',
            'Didžiąją savo gyvenimo dalį praleidau keliaudamas, bet visada su savimi nešiojausi Toskanos spalvas, skonius ir šilumą.',
            'Jis atgyja, įkvėptas senųjų Florencijos užeigų skonių ir aromatų bei kerinčio Chianti kalvų grožio.',
            'Jis gimė iš noro pasidalyti su Lietuvos žmonėmis autentišku Toskanos virtuvės skoniu, mūsų vynų turtingumu ir mano krašto saulės šiluma.',
        ];
        return content;
    } else if (language === 'en') {
        const content = [
            '"Fiorentino" was born from the deep passion that binds me to my native land.',
            'I have spent much of my life travelling, but I have always carried within me the colours, flavours, and warmth of Tuscany.',
            "It comes to life inspired by the flavours and aromas of Florence's ancient trattorias and the enchanting beauty of the Chianti hills.",
            'It stems from my desire to share with the people of Lithuania the authentic taste of Tuscan cuisine, the richness of our wines, and the warmth of the Tuscan sun.',

        ];
        return content;
    } else if (language === 'it') {
        const content = [
            'Il Fiorentino nasce dalla profonda passione che mi lega alla mia terra natale.',
            'Ho trascorso gran parte della vita viaggiando, ma ho sempre portato con me i colori, i sapori e il calore della Toscana.',
            'Prende vita ispirato dai sapori e dai profumi delle antiche trattorie di Firenze e dalla bellezza incantevole delle colline del Chianti.',
            'Nasce dal desiderio di condividere con il pubblico lituano l’autentico gusto della cucina toscana, la ricchezza dei nostri vini e il calore del sole della mia terra.',
        ];
        return content;
    }
};

const content = renderContent()
---

<section class="bg-primary" id="section2">
    <div class="p-12 lg:w-[60%] mx-auto">
        <p class="libre-baskerville-regular text-[6rem] leading-none h-[5rem]">
            “
        </p>
        <p>
            {content[0]}
        </p>
        <br />
        <p>
            {content[1]}
        </p>
        <br />
        <p>
            {content[2]}
        </p>
        <br />
        <p>
            {content[3]}
        </p>
        <br />
        <p class="text-lg">-Riccardo Bicicchi</p>
    </div>
</section>
