---
interface Props {
    language: string;
}

const { language } = Astro.props;

const renderContent = () => {
    if (language === 'lt') {
        const content = [
            'Likimas atvedė mane į Lietuvą ir čia, Vilniuje Alumnato kiemelyje, gimė „Fiorentino“.',
            'Fiorentino gimė iš aistros gimtai Italijos žemei. Esu daug keliavęs, tačiau visą laiką mane lydėjo Toskanos spalvų, kvapo ir skonio ilgesys.',
            'Fiorentino gimė iš mažų senų Florencijos restoranėlių skonio ir kvapų, iš Chianti kalvų spalvų bei aromatų.',
            'Fiorentino gimė iš noro supažindinti lietuvius su patiekalais ir vynais bei Toskanos saulės šiluma.',
        ];
        return content;
    } else if (language === 'en') {
        const content = [
            '“Fiorentino” restaurant was conceived thanks to the passion that binds me to my native land.',
            'I spent a lot of time travelling, but inside me I’ve always been accompanied by the colours and tastes of Tuscany.',
            '“Fiorentino” restaurant comes true staring from the flavours and scents of the ancient restaurants in Florence to the colours and magic of the Chianti hills.',
            '“Fiorentino” comes from the will to make the tastiness of our food, wines and the feeling of the  pleasantness of the Tuscan sun available for all the people in Lithuania.',
        ];
        return content;
    } else if (language === 'it') {
        const content = [
            'Il Fiorentino nasce dalla passione per la mia terra, per me che ho viaggiato molto ma sempre accompagnato dai colori e dai sapori della Toscana.',
            'Il Fiorentino nasce dai gusti e dai profumi degli antichi ristorantini di Firenze, dai colori e dai sapori delle colline del Chianti.',
            'Il Fiorentino nasce dalla mia voglia di far conoscere al pubblico lituano il gusto del cibo e del vino e la dolcezza del sole di Toscana.',
        ];
        return content;
    }
};
---

<section class="bg-primary" id="section2">
    <div class="p-12 lg:w-[60%] mx-auto">
        <p class="libre-baskerville-regular text-[6rem] leading-none h-[5rem]">
            “
        </p>
        <p>
            {renderContent()[0]}
        </p>
        <br />
        <p>
            {renderContent()[1]}
        </p>
        <br />
        <p>
            {renderContent()[2]}
        </p>
        <br />
        <!-- () Groups Multiline Expressions -->
        {
            language !== 'it' ? (
                <>
                    <p>{renderContent()[3]}</p>
                    <br />
                </>
            ) : null
        }
        <p class="text-lg">-Riccardo Bicicchi</p>
    </div>
</section>
