---

---
<div class="bg-primary">
<p class="libre-baskerville-regular text-[6rem] leading-none border-2 border-red-500 h-[3rem]">“</p>
<p>Likimas atvedė mane į Lietuvą ir čia, Vilniuje Alumnato kiemelyje, gimė „Fiorentino“.</p>
<p>Fiorentino gimė iš aistros gimtai Italijos žemei. Esu daug keliavęs, tačiau visą laiką mane lydėjo Toskanos spalvų, kvapo ir skonio ilgesys.</p>
<p>Fiorentino gimė iš mažų senų Florencijos restoranėlių skonio ir kvapų, iš Chianti kalvų spalvų bei aromatų.</p>
<p>Fiorentino gimė iš noro supažindinti lietuvius su patiekalais ir vynais bei Toskanos saulės šiluma.</p>
<p>–Riccardo Bicicchi</p>

</div>
