---

---

<div class="bg-primary">
    <div class="p-12 lg:w-[60%] mx-auto">
        <p
            class="libre-baskerville-regular text-[6rem] leading-none h-[5rem]"
        >
            “
        </p>
        <p>
            Likimas atvedė mane į Lietuvą ir čia, Vilniuje Alumnato kiemelyje,
            gimė „Fiorentino“.
        </p>
        <br>
        <p>
            Fiorentino gimė iš aistros gimtai Italijos žemei. Esu daug keliavęs,
            tačiau visą laiką mane lydėjo Toskanos spalvų, kvapo ir skonio
            ilgesys.
        </p>
        <br>
        <p>
            Fiorentino gimė iš mažų senų Florencijos restoranėlių skonio ir
            kvapų, iš Chianti kalvų spalvų bei aromatų.
        </p>
        <br>
        <p>
            Fiorentino gimė iš noro supažindinti lietuvius su patiekalais ir
            vynais bei Toskanos saulės šiluma.
        </p>
        <br>
        <p class="text-lg">-Riccardo Bicicchi</p>
    </div>
</div>
