---

---

<footer class="bg-secondary text-white" id="section5">
    <div
        class="py-8 lg:grid lg:grid-cols-12 lg:row-auto lg:px-12 lg:py-20 lg:max-w-7xl lg:mx-auto"
    >
        <a class="lg:col-[1/4]" href="#section1">
            <img
                src="../../public/svg/Logo_white.svg"
                alt="fiorentino logotipas"
                class="cursor-pointer mx-auto lg:mx-0"
                id="logoFooter"
            />
        </a>
        <!-- Description -->
        <div
            class="flex items-center justify-center py-4 lg:inline-block lg:col-[1/4]"
        >
            <p class="max-w-[15.313rem]">
                Fiorentino gimė iš mažų senų Florencijos restoranėlių skonio ir
                kvapų, iš Chianti kalvų spalvų.
            </p>
        </div>
        <!-- Links Flexbox Container -->
        <div
            class="lg:flex lg:justify-between lg:col-[5/13] lg:row-[1/4] lg:items-center"
        >
            <!-- Section 1 -->
            <div>
                <h3 class="text-center text-lg py-4">Naršyti</h3>
                <ul id="browse">
                    <li class="text-center text-nowrap lg:text-left py-2">
                        <a href="#section2">Apie Mus</a>
                    </li>
                    <li class="text-center text-nowrap lg:text-left py-2">
                        <a href="#section3">Meniu</a>
                    </li>
                    <li class="text-center text-nowrap lg:text-left py-2">
                        <a href="#section4">Galerija</a>
                    </li>
                </ul>
            </div>
            <!-- Section 2 -->
            <div>
                <h3 class="text-center text-lg py-4 lg:text-left">
                    Darbo laikas
                </h3>
                <ul>
                    <div>
                        <li
                            class="py-2 flex flex-row justify-center lg:justify-between flex-nowrap gap-x-2"
                        >
                            <span class="text-nowrap">II-IV</span><span
                                class="text-nowrap">5:00PM-10:00PM</span>
                        </li>
                        <li
                            class="py-2 flex flex-row justify-center lg:justify-between flex-nowrap gap-x-2"
                        >
                            <span class="text-nowrap">V</span><span
                                class="text-nowrap">5:00PM-10:30PM</span>
                        </li>
                        <li
                            class="py-2 flex flex-row justify-center lg:justify-between flex-nowrap gap-x-2"
                        >
                            <span class="text-nowrap">II-IV</span><span
                                class="text-nowrap">12:00AM-10:30PM</span>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- Section 3 -->
            <div>
                <h3 class="text-center text-lg py-4 lg:text-left">Kontaktai</h3>
                <ul>
                    <li class="text-center lg:text-left py-2">
                        <a href="https://maps.app.goo.gl/9NhdBnRio2Xv3zkf7">
                            Universiteto g.4, Vilnius
                        </a>
                    </li>
                    <li class="text-center lg:text-left py-2">
                        <a href="fiorentinorestoranas@yahoo.com">
                            fiorentinorestoranas@yahoo.com
                        </a>
                    </li>
                    <li class="text-center lg:text-left py-2">
                        <a href="tel:+37052120925"> +370 521 20925 </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Social Media Icons -->
        <div
            class="flex justify-center gap-4 items-start py-4 lg:justify-start lg:py-0 lg:gap-6 lg:col-[1/4]"
        >
            <a
                href="https://www.facebook.com/fiorentinorestoranas/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    class="w-8 h-auto"
                    src="../../public/svg/Facebook.svg"
                    alt="facebook piktograma"
                />
            </a>
            <a
                href="https://www.instagram.com/fiorentino_restaurant/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    class="w-8 h-auto"
                    src="../../public/svg/Instagram.svg"
                    alt="instagram piktograma"
                />
            </a>
        </div>
    </div>
    <div class="bg-[#2F2C24] py-3">
        <h5 class="text-center text-sm" id="copyright">
            Restoranas „Fiorentino“ © 2024.
        </h5>
    </div>
</footer>
