---

--- 
<header class="sticky top-0">
    <nav class="bg-white flex flex-col flex-wrap lg:flex-row lg:items-center">
        <div class="flex justify-between items-center px-3 py-6 lg:grow lg:px-0">
            <a class="lg:pl-6" href="#section1">
                <!-- Logo -->
                <picture>
                    <source srcset="../../public/svg/Logo.svg" media="(min-width: 1024px)">
                    <img src="../../public/svg/Mobile_logo.svg" alt="vieta logotipas" class="cursor-pointer" id="logo" />
                </picture>
            </a>
            <img class="lg:hidden cursor-pointer" src="../../public/svg/Hamburger_menu.svg"
                alt="Piktograma, kuri atidaro puslapio navigaciją" id="menuIcon" />
        </div>
        <ul class="overflow-hidden prev-state lg:h-fit lg:flex lg:justify-center lg:items-center lg:pr-6"
            id="linkContainer">
            <li class="py-0.5 px-2 text-lg w-fit lg:px-4 lg:py-4"><a
                    class="relative after:absolute after:bg-primary after:h-1 after:w-0 after:left-0 after:bottom-[-0.3rem] lg:after:hover:w-full after:duration-[0.5s] hover:text-slate-600"
                    href="#section2">Apie mus</a></li>
            <li class="py-0.5 px-2 text-lg w-fit lg:px-4 lg:py-4"><a
                    class="relative after:absolute after:bg-primary after:h-1 after:w-0 after:left-0 after:bottom-[-0.3rem] lg:after:hover:w-full after:duration-[0.5s] hover:text-slate-600"
                    href="#section3">Meniu</a></li>
            <li class="py-0.5 px-2 text-lg w-fit lg:px-4 lg:py-4"><a
                    class="relative after:absolute after:bg-primary after:h-1 after:w-0 after:left-0 after:bottom-[-0.3rem] lg:after:hover:w-full after:duration-[0.5s] hover:text-slate-600"
                    href="#section4">Galerija</a></li>
            <li class="text-sm py-0.5 px-2 w-fit lg:py-0 lg:px-4 flex flex-col lg:flex-row">
                <span class="roboto-mono-bold cursor-pointer hover:text-slate-600">LT</span>
                <!-- <span class="hidden lg:inline-block">/</span> -->
                <!-- <a class="roboto-mono-light cursor-pointer hover:text-slate-600" href="./en/index.html" -->
                <!--     id="languageToggle">EN</a> -->
            </li>
            <li class="py-0.5 px-2 text-lg w-fit lg:px-4 lg:py-4"><a
                    class="merriweather-light text-base text-white bg-secondary inline-block p-2 lg:py-2.5 lg:px-4 cursor-pointer duration-[0.5s] ease-in-out hover:text-white hover:bg-accent"
                    href="#section5">Kontaktai</a></li>
        </ul>
    </nav>
</header>
