---
interface Props {
    language: string;
}

const { language } = Astro.props;

const renderContent = () => {
    if (language === 'lt') {
        const content = [
            'Itališkos tradicijos ant Jūsų stalo',
            'Susisiekime',
            'Peisažas nutapytas akvarele, kuriame vaizduojamas Toskanų kraštovaizdis',
        ];
        return content;
    } else if (language === 'en') {
        const content = [
            'Italian traditions on your table',
            'Contact us',
            'A watercolour painting of the Tuscan landscape',
        ];
        return content;
    } else if (language === 'it') {
        const content = [
            'Le tradizioni italiane sulla vostra tavola',
            'Contattateci',
            'A watercolour painting of the Tuscan landscape',
        ];
        return content;
    }
};

const content = renderContent()
---

<section
    class="lg:grid lg:grid-cols-12 lg:justify-center lg:items-center"
    id="section1"
>
    <div class="lg:col-[1/8] flex justify-center">
        <!-- Change my -->
        <div class="max-w-xl my-8 mx-4">
            <h1 class="cormorant-garamond-regular text-5xl pb-4">
                {content[0]}
            </h1>
            <a
                class="merriweather-light text-lg text-white bg-secondary inline-block cursor-pointer py-3 px-6 lg:py-3.5 lg:px-10
                lg:border-2 lg:border-secondary lg:hover:text-secondary lg:hover:bg-transparent lg:hover:duration-500 lg:hover:transition-colors lg:hover:ease-in-out"
                href="#section5"
                id="callToAction">{content[1]}</a
            >
        </div>
    </div>
    <picture class="lg:col-[8/13]">
        <source srcset="/Hero_image.webp" type="image/webp" />
        <img
            class="w-full lg:h-[85vh] lg:object-cover"
            loading="lazy"
            decoding="async"
            src="/Hero_image.jpg"
            alt={content[2]}
        />
    </picture>
</section>
