---

---
<section class="lg:grid lg:grid-cols-12 lg:justify-center lg:items-center " id="section1">
    <div class="lg:col-[1/8] flex justify-center">
        <!-- Change my -->
        <div class="max-w-lg my-8 mx-4">
            <h1 class="cormorant-garamond-regular text-5xl pb-4">
                Itališkos tradicijos ant Jūsų stalo
            </h1>
            <!-- duration-[0.5s] ease-in-out hover:text-white hover:bg-accent -->
            <a class="merriweather-light text-lg text-white bg-secondary inline-block cursor-pointer py-3 px-6 lg:py-4 lg:px-12"
                href="#section5" id="callToAction">Susisiekime</a>
        </div>
    </div>
    <picture class="lg:col-[8/13]">
        <source srcset="./Hero_image.webp" type="image/webp">
        <img class="w-full lg:h-[85vh] lg:object-cover" loading="lazy"
        src="./Hero_image.jpg" alt="restorano nuotrauka">
    </picture>
</section>
