---

---

<h3
    class="cormorant-garamond-regular text-header text-3xl text-center section-padding"
>
    Meniu
</h3>
    <!-- Add Margins -->
    <div class="flex flex-col gap-8 items-center lg:flex-row lg:mx-auto lg:w-[min(70%,_87.5rem)] menu-margin">
    <div class="flex flex-col items-center w-1/2 lg:flex-row lg:justify-start">
        <a
            class="bg-primary rounded-xl w-[min(85%,_25.75rem)] lg:relative lg:cursor-pointer xl:w-[25.75rem]
            lg:before:absolute lg:before:top-0 lg:before:left-0 lg:before:bg-black lg:before:w-full lg:before:h-full lg:before:rounded-xl
            lg:before:opacity-0 lg:before:transition-opacity lg:before:duration-300 lg:before:ease-in hover:lg:before:opacity-50
            lg:after:absolute lg:after:content-['Patiekalai'] lg:after:text-2xl lg:after:text-white lg:after:left-1/2 lg:after:top-1/2 lg:after:translate-x-[-50%] lg:after:translate-y-[-50%]
            lg:after:opacity-0 lg:after:transition-opacity lg:after:duration-300 lg:after:ease-in hover:lg:after:opacity-100"
        >
            <picture class="">
                <source srcset="../../public/Dish.webp" type="image/webp" />
                <img
                    class=""
                    loading="lazy"
                    src="../../public/Dish.png"
                    alt="makaronų nuotrauka"
                />
            </picture>
        </a>
        <h6 class="text-xl pt-2 lg:hidden">Patiekalai</h6>
    </div>
    <div class="flex flex-col items-center w-1/2 lg:flex-row lg:justify-end">
        <a
            class="bg-primary rounded-xl w-[min(85%,_25.75rem)] lg:relative lg:cursor-pointer xl:w-[25.75rem]
            lg:before:absolute lg:before:top-0 lg:before:left-0 lg:before:bg-black lg:before:w-full lg:before:h-full lg:before:rounded-xl
            lg:before:opacity-0 lg:before:transition-opacity lg:before:duration-300 lg:before:ease-in hover:lg:before:opacity-50
            lg:after:absolute lg:after:content-['Vynai'] lg:after:text-2xl lg:after:text-white lg:after:left-1/2 lg:after:top-1/2 lg:after:translate-x-[-50%] lg:after:translate-y-[-50%]
            lg:after:opacity-0 lg:after:transition-opacity lg:after:duration-300 lg:after:ease-in hover:lg:after:opacity-100"
        >
            <picture class="">
                <source srcset="../../public/Wine.webp" type="image/webp" />
                <img
                    class=""
                    loading="lazy"
                    src="../../public/Wine.png"
                    alt="Vyno nuotrauka"
                />
            </picture>
        </a>
        <h6 class="text-xl pt-2 lg:hidden">Vynai</h6>
    </div>
</div>
